BOT_TOKEN=your_telegram_bot_token
LOG_CHAT_ID=
ACTION=mute
MUTE_DURATION_SECONDS=86400
BAN_AFTER_STRIKES=2
STRIKE_WINDOW_SECONDS=86400
ADMIN_CACHE_TTL_SECONDS=300
KEYWORDS=free money,crypto,airdrop
KEYWORDS_FILE=data/keywords.txt
KEYWORDS_FILES=
AUTO_LOAD_TXT=true
LEARNING_ENABLED=true
LEARNING_MIN_HITS=3
LEARNING_MIN_UNIQUE_USERS=2
LEARNING_PROMOTE_HITS=6
LEARNING_PROMOTE_UNIQUE_USERS=3
LEARNING_IGNORE_HITS=4
LEARNING_IGNORE_UNIQUE_USERS=2
LEARNING_RETIRE_SECONDS=2592000
LEARNING_WINDOW_SECONDS=86400
DELETE_SCORE_THRESHOLD=15
MUTE_SCORE_THRESHOLD=45
BAN_SCORE_THRESHOLD=75
LINK_SCORE=35
KEYWORD_SCORE=60
LEARNED_KEYWORD_SCORE=18
USERNAME_SCORE=20
LENGTH_SCORE=15
FLOOD_SCORE=35
REPEAT_SCORE=25
STRUCTURE_SCORE=12
COMBO_LINK_KEYWORD_BONUS=15
COMBO_USERNAME_KEYWORD_BONUS=10
COMBO_FLOOD_REPEAT_BONUS=10
COMBO_STRUCTURE_LINK_BONUS=12
RULE_ENABLE_LINK=true
RULE_ENABLE_KEYWORDS=true
RULE_ENABLE_USERNAME=true
RULE_ENABLE_FLOOD=true
RULE_ENABLE_REPEAT=true
RULE_ENABLE_LENGTH=true
MAX_MESSAGE_LENGTH=600
FLOOD_MAX_MESSAGES=6
FLOOD_WINDOW_SECONDS=10
REPEAT_MAX_DUPES=2
REPEAT_WINDOW_SECONDS=60
